ion-title{
    font-weight: bold;
}

ion-icon{
    margin-right: 10px;
}

.meta{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

ion-grid{
    margin-left: 10px;
    margin-right: 10px;
    ion-row{
        margin: 10px;
    }
}