<ion-header>
  <ion-toolbar>
    <ion-icon [routerLink]="['/', 'tabs', 'home']" class="icon-only" slot="start" name="arrow-back-outline"></ion-icon>

    <ion-title>Follow-requests</ion-title>

    <ion-label (click)="manageRequests()" slot="end">Manage</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="none">
    <ion-item *ngFor="let user of requests">
      <ion-avatar slot="start">
        <ion-img [src]="user?.profile_pic"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;" (click)="showUserAccount(user)"> {{user?.username}} </span>
      </p>
      <ion-buttons slot="end">
        <ion-button (click)="addfriend(user._id)" class="confirmBtn">Confirm</ion-button>
        <ion-button (click)="deleteRequest(user._id)" class="deleteBtn">Delete</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <p class="seeAll">See all (21)</p>
  <h6>Suggestions for you</h6>
  <ion-list lines="none">
    <ion-item *ngFor="let suggestedUser of suggestedUsers">
      <ion-avatar slot="start">
        <ion-img [src]="suggestedUser?.profile_pic"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> {{suggestedUser?.username}} </span>
      </p>
      <ion-buttons slot="end">

      <ion-button *ngIf="!suggestedUser.isFollowing && !suggestedUser.isRequested" class="confirmBtn" (click)="requestUserToFollow(suggestedUser._id)">Follow</ion-button>
      <ion-button *ngIf="suggestedUser.isFollowing" class="confirmBtn" (click)="requestUserToFollow(suggestedUser._id)">UnFollow</ion-button>
      <ion-button *ngIf="suggestedUser.isRequested && !suggestedUser.isFollowing" class="confirmBtn" (click)="deleteRequest(suggestedUser._id)">Requested</ion-button>
      
      <ion-icon (click)="removeRequest(suggestedUser)" name="close-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
   

  </ion-list>


</ion-content>
