<ion-header>
  <ion-toolbar>
    <ion-icon [routerLink]="['/', 'tabs', 'home']" class="icon-only" slot="start" name="arrow-back-outline"></ion-icon>

    <ion-title>Follow-requests</ion-title>

    <ion-label slot="end">Manage</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> ahalya_21 </span>
      </p>
      <ion-buttons slot="end">
        <ion-button class="confirmBtn">Confirm</ion-button>
        <ion-button class="deleteBtn">Delete</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> siri </span><br>
        siri_12
      </p>
      <ion-buttons slot="end">
        <ion-button class="confirmBtn">Confirm</ion-button>
        <ion-button class="deleteBtn">Delete</ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> prathima_reddie </span>
      </p>
      <ion-buttons slot="end">
        <ion-button class="confirmBtn">Confirm</ion-button>
        <ion-button class="deleteBtn">Delete</ion-button>
      </ion-buttons>
    </ion-item>

  </ion-list>

  <p class="seeAll">See all (21)</p>
  <h6>Suggestions for you</h6>
  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> ahalya_21 </span>
      </p>
      <ion-buttons slot="end">
        <ion-button class="confirmBtn">Follow</ion-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> siri </span><br>
        siri_12
      </p>
      <ion-buttons slot="end">
        <ion-button class="confirmBtn">Follow</ion-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
      <p class="ion-text-wrap">
        <span style="font-weight: bold;"> prathima_reddie </span>
      </p>
      <ion-buttons slot="end">
        <ion-button class="confirmBtn">Follow</ion-button>
        <ion-icon name="close-outline"></ion-icon>
      </ion-buttons>
    </ion-item>

  </ion-list>


</ion-content>
