<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>Instagram</span> 
      <ion-icon name="chevron-down-outline" (click)="presentActionSheet()"></ion-icon>

    </ion-title>
    <ion-icon class="icon-only" slot="end" name="add-circle-outline"></ion-icon>
    <ion-icon [routerLink]="['/', 'messages']" slot="end" class="icon-only" color="dark" name="navigate-outline" (click)="navigateToMessages()"></ion-icon>
    <ion-badge slot="end" class="badge" color="danger">2</ion-badge>


  </ion-toolbar>
</ion-header>

<ion-content>
    
  <!-- stories -->
  <ion-row class="ion-margin-top">
    <ion-col size="3">
      <ion-avatar>
        <ion-img class="story" src="https://th.bing.com/th/id/OIP.WB62eaUDV-0wrQ11RAgexgHaJQ?w=186&h=233&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="3">
      <ion-avatar>
        <ion-img class="story" src="https://th.bing.com/th/id/OIP.GlXqxcR9EmviN5kuwaUsMQHaIB?w=186&h=202&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="3">
      <ion-avatar>
        <ion-img class="story" src="https://th.bing.com/th/id/OIP.l1kkQOprIOV7jF6558kfGQHaLH?w=186&h=279&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="3">
      <ion-avatar>
        <ion-img class="story" src="https://th.bing.com/th/id/OIP.qbkfsNc_YEfMtW4UsBAkngHaIJ?w=186&h=205&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
    </ion-col>
  </ion-row>

  <hr>
  <!--posts-->
  <app-post></app-post>
  <app-post></app-post>

</ion-content>
