span{
    font-weight: bold;
    font-family:cursive;
}

.badge{
    height: 18px;
    width: 18px;
    border-radius: 9px;
}

ion-img{
    height: 20px;
}

ion-img{
    background-color: rgb(223, 223, 223);
    height: 70px;
    width: 70px;
}
