<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>Instagram</span> 
      <ion-icon name="chevron-down-outline" (click)="presentActionSheet()"></ion-icon>

    </ion-title>
    <ion-icon class="icon-only" slot="end" name="add-circle-outline"></ion-icon>
    <ion-icon [routerLink]="['/', 'messages']" slot="end" class="icon-only" color="dark" name="navigate-outline" (click)="navigateToMessages()"></ion-icon>
    <ion-badge slot="end" class="badge" color="danger">2</ion-badge>


  </ion-toolbar>
</ion-header>

<ion-content>
    
  <!-- stories -->
  <div class="horizontal-scroll">
    <ion-row nowrap class="ion-margin-top">
      <ion-col size="3">
        
      </ion-col>
    </ion-row>
  </div>

  <div class="horizontal-scroll">
    <ion-chip *ngFor="let user of users">
      <ion-avatar>
        <ion-img class="story" [src]="user?.profilePic"></ion-img>
      </ion-avatar>
    </ion-chip>
  </div>

  <hr>
  <!--posts-->
  <app-post></app-post>
  <app-post></app-post>

</ion-content>
