<ion-searchbar color="light" style="background-color: medium;"></ion-searchbar>

  <!-- messages-list -->
  <ion-list lines="none">
    <ion-item>
      <ion-avatar>
        <ion-img src="https://th.bing.com/th/id/OIP.l1kkQOprIOV7jF6558kfGQHaLH?w=186&h=279&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
      <p class="ion-text-nowrap">
        <span> Harsha_21 </span>
        <br>
        <span>Sent alluarvind's real hcuh</span>
        <span>17h</span>
      </p>
      <ion-icon class="newMessage" color="primary" slot="end" name="ellipse"></ion-icon>
      <ion-icon class="icon-only" color="dark" slot="end" name="camera-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="https://th.bing.com/th/id/OIP.l1kkQOprIOV7jF6558kfGQHaLH?w=186&h=279&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
      <p>
        <span> Harsha_21 </span>
        <br>
        <span>Liked a message. 17h</span>
      </p>
      <ion-icon class="newMessage" color="primary" slot="end" name="ellipse"></ion-icon>
      <ion-icon class="icon-only" color="dark" slot="end" name="camera-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="https://th.bing.com/th/id/OIP.l1kkQOprIOV7jF6558kfGQHaLH?w=186&h=279&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
      <p>
        <span> Harsha_21 </span>
        <br>
        <span>Sent alluarvind's real...17h</span>
      </p>
      <ion-icon class="icon-only" color="dark" slot="end" name="camera-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-img src="https://th.bing.com/th/id/OIP.l1kkQOprIOV7jF6558kfGQHaLH?w=186&h=279&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>
      </ion-avatar>
      <p>
        <span> Harsha_21 </span>
        <br>
        <span>Sent alluarvind's real...17h</span>
      </p>
      <ion-icon class="icon-only" color="dark" slot="end" name="camera-outline"></ion-icon>
    </ion-item>
  </ion-list>