<ion-header>
  <ion-toolbar>
    <ion-title>posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <img src="https://www.istockphoto.com/resources/images/PhotoFTLP/P4-JAN-iStock-1432854572.jpg">  
    </ion-col>
    <ion-col>
      <img src="https://www.istockphoto.com/resources/images/PhotoFTLP/P4-JAN-iStock-1432854572.jpg">  
    </ion-col>
    <ion-col>
      <img src="https://www.istockphoto.com/resources/images/PhotoFTLP/P4-JAN-iStock-1432854572.jpg">  
    </ion-col>
  </ion-row>

</ion-content>
