h2{
    font-family: cursive;
    font-weight: bold;
    padding-left: 10px;
}

ion-icon{
    height: 20px;
}

.deleteBtn{
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    color: black;
    font-family: cursive;
    text-transform: capitalize;
}

ion-list-header{
    color: black;
    font-size: 15px;
}

ion-content{
    font-family: cursive;
}

ion-item{
    font-family: cursive;
}