<ion-header>
  <ion-toolbar>
    <ion-icon [routerLink]="['/', 'tabs', 'home']" class="icon-only" slot="start" name="arrow-back-outline"></ion-icon>

    <ion-title>
      _siri_12
    </ion-title>

    <ion-icon class="icon-only" slot="end" name="videocam-outline"></ion-icon>
    <ion-icon slot="end" class="icon-only" color="dark" name="create-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- chats calls requests tabs-->
  <app-tabs-messages></app-tabs-messages>

  <!-- search bar for chats-->
  
  
</ion-content>
