

<ion-content>

  <!--search bar -->
  <ion-searchbar
    animated="true" 
    debounce="800" 
    #searchInput
    (ionChange)="onSearchChange($event)" 
    color="light" 
    style="background-color: medium;">
  </ion-searchbar>

  <ion-item lines="none" *ngFor="let user of searchUsers">
    <ion-avatar>
      <img [src]="user.profile_pic">
    </ion-avatar>
    <p style="margin-left: 10px;">{{user.username}}</p>
    <ion-buttons slot="end">
      <ion-button *ngIf="!user.isFollowing && !user.isRequested" class="confirmBtn" (click)="requestUserToFollow(user._id)">Follow</ion-button>
      <ion-button *ngIf="user.isFollowing" class="confirmBtn" (click)="requestUserToFollow(user._id)">UnFollow</ion-button>
      <ion-button *ngIf="user.isRequested && !user.isFollowing" class="confirmBtn" (click)="deleteRequest(user._id)">Requested</ion-button>
    </ion-buttons>
    <br>
  </ion-item>
</ion-content>
