<ion-header>
  <ion-toolbar>

    <ion-title> 
      <h5>classywomen</h5>
    </ion-title>

    <ion-avatar slot="start">
      <ion-img class="commentProPic" src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
    </ion-avatar>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="postPic" src="https://th.bing.com/th/id/OIP.pMg8F2rzkZJ0c_HpqT3HXAHaFj?w=244&h=184&c=7&r=0&o=5&dpr=1.6&pid=1.7"></ion-img>

  <ion-item lines="none" class="ion-no-padding">
    <ion-row>
    <ion-col size="4">
      <ion-icon class="postIcons" name="heart-outline"></ion-icon>
    </ion-col>
    <ion-col size="4">
      <ion-icon class="postIcons" name="chatbubble-outline"></ion-icon>
    </ion-col>
    <ion-col size="4">
      <ion-icon class="postIcons" name="navigate-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-col size="2" slot="end">
    <ion-icon class="postIcons" name="bookmark-outline"></ion-icon>
  </ion-col></ion-item>

  <p class="ion-no-margin">Liked by <span style="font-weight: bold;">goalkeeper</span> and <span style="font-weight: bold;">others</span></p>
  <p class="ion-no-margin"><span style="font-weight: bold;">goalkeeper</span> I personally suggest to follow </p>
  <h6 class="ion-no-margin" color="medium">View all 36 comments</h6>
  <p class="ion-no-margin"><span style="font-weight: bold;">goalkeeper</span> I personally suggest to follow </p>

  <ion-item lines="none" class="ion-no-padding">
    <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <ion-img class="commentProPic" src="https://th.bing.com/th/id/OIP.1moOVABLsAl172i_UsaCMQHaF5?pid=ImgDet&rs=1"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="7">
      <ion-label position="floating" style="font-size: 12px;" color="medium">Add a comment...</ion-label>
      <ion-input type="text"></ion-input>
    </ion-col>
  </ion-row>
  <ion-col size="0.1" slot="end">
    <ion-icon class="commentIcons" name="heart" color="danger"></ion-icon>
  </ion-col>
  <ion-col size="0.1" slot="end" >
      <ion-icon color="warning" class="commentIcons" name="hand-left"></ion-icon>
  </ion-col>
  <ion-col size="0.1" slot="end">
    <ion-icon class="commentIcons" color="medium" name="add-circle-outline"></ion-icon>
  </ion-col>
</ion-item>

</ion-content>