  <ion-toolbar [routerLink]="['/', 'user-profile', post.user_id]">
    <ion-title> 
      <h5>{{post.username}}</h5>
    </ion-title>

    <ion-avatar slot="start">
      <ion-img class="commentProPic" [src]="post.user_profile_url"></ion-img>
    </ion-avatar>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
  </ion-toolbar>

<ion-content class="container">

  <!-- post -->
  <ion-img class="postPic" [src]="post.post_image_url"></ion-img>


  <!-- post-icons -->
  <ion-item lines="none">
    <ion-row>
    <ion-col size="4">
      <ion-icon (click)="changeHeart(post)" class="postIcons" [name]="heart.name" [color]="heart.color"></ion-icon>
    </ion-col>
    <ion-col size="4" [routerLink]="['/', 'comments', post.post_id]">
      <ion-icon class="postIcons" name="chatbubble-outline"></ion-icon>
    </ion-col>
    <ion-col size="4">
      <ion-icon class="postIcons" name="navigate-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-col size="2" slot="end">
    <ion-icon class="postIcons" [name]="bookmark.name" color="dark" (click)="addToBookmarks(post.post_id)"></ion-icon>
  </ion-col></ion-item>


  <!-- post description -->
  <p class="ion-no-margin">Liked by <span style="font-weight: bold;">goalkeeper</span> and <span style="font-weight: bold;">others</span></p>
    <div *ngIf="comments">
      <p class="ion-no-margin"><span style="font-weight: bold;">{{comments[comments.length-1]?.username}}</span> {{comments[comments.length-1]?.user_comment}} </p>  
      <p class="ion-no-margin"><span style="font-weight: bold;">{{comments[comments.length-2]?.username}}</span> {{comments[comments.length-2]?.user_comment}} </p>
      <h6 [routerLink]="['/', 'comments', post.post_id]" class="ion-no-margin" color="medium">View all {{comments?.length}} comments</h6>
    </div>

  <!-- add-comment box -->
  <ion-item lines="none" class="ion-no-padding">
    <ion-row>
    <ion-col size="3">
      <ion-avatar>
        <ion-img class="commentProPic" [src]="currentUser?.profile_pic"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="7">
      <ion-label position="floating" style="font-size: 12px;" color="medium">Add a comment...</ion-label>
      <ion-input type="text" [(ngModel)]="comment"></ion-input>
    </ion-col>
  </ion-row>
  <ion-col size="0.1" slot="end">
    <ion-icon (click)="addComment(comment, post.post_id)" name="send-outline"></ion-icon>
  </ion-col>
  <ion-col size="0.1" slot="end">
    <ion-icon class="commentIcons" name="heart" color="danger"></ion-icon>
  </ion-col>
  <ion-col size="0.1" slot="end" >
      <ion-icon color="warning" class="commentIcons" name="hand-left"></ion-icon>
  </ion-col>
  <ion-col size="0.1" slot="end">
    <ion-icon class="commentIcons" color="medium" name="add-circle-outline"></ion-icon>
  </ion-col>
  <ion-label> 
    <ion-note>5 hours ago</ion-note>  
  </ion-label>
</ion-item>
</ion-content>


