span{
    font-weight: bold;
}

p{
    margin-left: 15px;
}

.postIcons{
    font-size: 20px;
}

ion-button{
    background-color: white;
    color: white;
}

ion-note{
    padding-right: 14px;
}

ion-item{
    margin-top: 5px
}

